/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


.bg-color-izit {
	background: $tileIZITGradient1;
}

.bg-color-izit-green {
	background: $tileIZITGreenGradient1;
}
.bg-color-blue {
   background: $tileBlueGradient1;
}

.bg-color-green {
   background: $tileGreenGradient1;
}

.bg-color-red {
   background: $tileRedGradient1;
}

.bg-color-orange {
   background: $tileOrangeGradient1;
}

.bg-color-purple {
   background: $tilePurpleGradient1;
}
.metro {
   .tile {
	   &.inactive {
	   		background: $darkestGrey;
	   		color: $mainGrey;
	   		cursor: default;
	   		h2 {
	   			font-style: italic;
	   			color: $darkerGrey;
	   		}
	   }
   }
}

.modal-header {
	background: $tileBlueGradient1;
}